<h1>About Walsh-Mart</h1>

<p>Walsh-Mart is the brain-child of child-genius Christopher Walsh. Laughed at by his preschool peers, Christopher started his first company (Bottles, Inc.) with a mind to getting the best products for people with like-minded concerns. Through hard work, determination, and heavy investment from an eccentric billionaire, Christopher was able to splash onto the web scene. After going public and rebranding as the Walsh-Mart we know and love today, Christopher Walsh has become a name synonomous with innovation and convenience.</p>

<h1><a href="/products">See the products!</a></h1>