<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <img src="http://www.doctoralexzand.com/wp-content/themes/drzand/images/smiling_happy_patients.jpg" id="jumbotron-banner">
    <h1>Welcome to Walsh-Mart <small>The online megastore</small></h1>
    <p><a href="/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<h1><a href="/products">See the products!</a></h1>