<H1>DISCOUNT ITEMS! ALL ITEMS MUST GO!!!</H1>
<div class="row">
  <% @discount_products.each do |product| %>
    <div class="col-md-4">
      <div class="thumb">
        <a href="<%= product_path(product.id) %>">
          <h2><%= product.name %></h2>
          <img src="<%= product.photo %>" height="200" width="200">
        </a>
        <p><%= product.display_price %></p>
      </div>
    </div>
  <% end %>
</div>
